.blue {
    color: blue;
}

.red { 
    color: red;
}

.green {
    color: green;
}

.power-text {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.under {
    text-decoration: underline;
}